#design_minimalism:hover{
  color: white;
  transition: 1s color;
}

#design_minimalism {
  color: black;
  font-size: 3em;
  font-family: "Montserrat";
  white-space: nowrap;
  display: flex;
  position: absolute;
  left: 41%;
  top: 42%;
  min-height: 1em;
  width: 1em;
  border: blue;
  background: 0; 
  transition: color 1s;
  animation-name: slow-show;
  animation-duration: 2s;
} 

@keyframes slow-show{
  0%{
    left: 41%;
    top: 70%;
    opacity: 0;
  }
  100%{
    left: 41%;
    top:42%;
    opacity: 1;
  }
}

body{
  background: url("../img/обои ночь.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}