.design_card{
  border-radius: 4px;
  padding: 15px;
  width: 270px;
  background: rgba(152, 191, 200, .4);
  margin: 20px;
  flex-wrap: wrap;
}

.design_button{
  width: 150px;
  height: 50px;
  border: 1px solid #3a88fe;
  border-radius: 4px;
  background: #3a88fe;
  font-size: 15px;
  margin-top: 15px;
}
.design_button:hover{
  background: #8ab9ff;
}
.design_leng{
  font-size: 23px;
  margin-bottom: 10px;
}

.cards-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*почему-то зависит от этого значения*/
}

.total{
  display: flex;
}

#sidebar{
  background: rgb(81,178,199, .9);
  height: 250px;
  border-radius: 0px 0px 10px 0px;
}

.show_more_info{
  display: none;
}

.info{
  display: none;
}