.lang_cont{
  width: 40vw;
  border: 1px solid red
}

.design_card{
  border-radius: 4px;
  padding: 15px;
  width: 300px;
  border: 1px solid #ebebeb;
  background: white;
  margin: 20px;
  flex-wrap: wrap;
}

.design_button{
  width: 125px;
  height: 50px;
  border: 1px solid #3a88fe;
  border-radius: 4px;
  background: #3a88fe;
  font-size: 18;
  margin-top: 15px;
}

.design_leng{
  font-size: 23px;
  margin-bottom: 10px;
}