.design_card{
  border-radius: 4px;
  padding: 15px;
  width: 270px;
  border: 1px solid #ebebeb;
  background: white;
  margin: 20px;
  flex-wrap: wrap;
}

.design_button{
  width: 150px;
  height: 50px;
  border: 1px solid #3a88fe;
  border-radius: 4px;
  background: #3a88fe;
  font-size: 18;
  margin-top: 15px;
}

.design_leng{
  font-size: 23px;
  margin-bottom: 10px;
}

.cards-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end; /*почему-то зависит от этого значения*/
}
.total{
  display: flex;
}

#sidebar{
  background: rgba(0, 255, 255, .8);
  height: 250px;
  border-radius: 0px 0px 10px 0px;
}

#sidebar .toggle-btn{
  background: /*white*/;
}