<!DOCTYPE html>
<html>

<head>
 <title>Языки Программирования</title>
  <link rel="stylesheet" href="../static/navigation.css">
  <link rel="stylesheet" href="/static/languege.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/main.css" id="theme">
</head>
<body>
<div>

<!-- навигация -->
    <header>
        <div id="sidebar">
          <div class="toggle-btn" onclick="openMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul>
            <li>Меню сайта</li>
            <li><a href='../index.html'>На главную</a  </li>
            <li><a href="templates/contacts.html">Контакты</a></li>
            <li><a href="templates/about.html">Про нас</a></li>
          </ul>
        </div>
    </header>

  
    <!-- Карточки с описанием языков  --> 
<div class='container lang_cont mt-4'>
<div class='row'>
<div class ='col design_card'>
  <div class = 'design_leng'>
    <b>JavaScript</b>
  </div>
  <div>
  JavaScript ("JS" для краткости) — это полноценный динамический язык программирования, который применяется к HTML документу, и может обеспечить динамическую интерактивность на веб-сайтах. ||Сделай краткое описание а при нажатии выводи расширенное с кнопкой для перехода на страницу полностью о языке (https://bootstrap-4.ru/docs/5.0/components/collapse/)
  </div>
  <p><button class = 'design_button'>Показать больше</button></p>
</div>
      
<div class ='col design_card'>

  <div class = 'design_leng'>
    <b>Python</b>
  </div>
  <div>
  Python — это высокоуровневый язык  ориентированный на повышение производительности разработчика и читаемости кода.
    <p><button class = 'design_button'>Показать больше</button></p>  
  </div>
</div>

    
<div class ='col design_card'>
  <div class = 'design_leng'>
    <b>C++</b>
  </div>
  <div>
  C++ — компилируемый, статически типизированный язык программирования общего назначения. Поддерживает такие парадигмы программирования, как процедурное программирование, объектно-ориентированное программирование, обобщённое программирование.
  </div>
  <p><button class = 'design_button'>Показать больше</button></p>
</div>
  
<div class ='col design_card'>

  <div class = 'design_leng'>
    <b>PHP (в простонародии пыха)</b>
  </div>
  <div>
  PHP – это широко используемый язык сценариев общего назначения с открытым исходным кодом. Говоря проще, PHP это язык программирования, специально разработанный для написания web-приложений (сценариев), исполняющихся на Web-сервере. Аббревиатура PHP означает “Hypertext Preprocessor (Препроцессор Гипертекста)".
  </div>
  <p><button class = 'design_button'>Показать больше</button></p>
</div>
</div>
</div>
</div>
</div>
</div>

  
<div class="footer">
  <div>Copyright &copy;2023 <strong>Programist'ы inc</strong>.All Rights Reserved.</div>
</div>

    <script src="/js/three.js"></script>
    <script src="/js/Projector.js"></script>
    <script src="/js/CanvasRenderer2.js"></script>
    <script src="/js/stats.min.js"></script>
    <script src="/js/Bird.js"></script>
    <script src="/js/mainbird.js"></script>
    <script>
      function openMenu() {document.getElementById("sidebar").classList.toggle('active');}
    </script>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>