<!DOCTYPE html>
<html>

<head>
  <title>Языки Программирования</title>
  <link rel="icon" href="static/img/web icon.png">
  <link rel="stylesheet" href="../static/navigation.css">
  <link rel="stylesheet" href="/static/languege.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/main.css" id="theme">
</head>
<body>
  
<div class='total'>
  
<header>
    <div id="sidebar">
      <div class="toggle-btn" onclick="openMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul>
        <li>Меню сайта</li>
        <li><a href='../index.html'>На главную</a  </li>
        <li><a href="contacts.html">Контакты</a></li>
        <li><a href="about.html">Про нас</a></li>
      </ul>
    </div>
</header>

  
<div class='cards-container'>
<div class ='design_card'>
  <div class = 'design_leng'>
    <b>JavaScript</b>
  </div>
  <div>
  JavaScript ("JS" для краткости) — это полноценный динамический язык программирования, который применяется к HTML документу, и может обеспечить динамическую интерактивность на веб-сайтах. <div class='show_more_info'> </div>
  </div>
  <p><button class = 'design_button'>Показать больше</button></p>
</div>


<div class ='design_card'>
  <div class = 'design_leng'>
    <b>Python</b>
  </div>
  <div>
  Python — это высокоуровневый язык  ориентированный на повышение производительности разработчика и читаемости кода.
    <p>
      <button class='design_button'>Показать больше</button></p>  
  </div>
</div>

    
<div class ='design_card'>
  <div class = 'design_leng'>
    <b>C++</b>
  </div>
  <div>
  C++ — подумайте о чём-то заумном вот вам и описание плюсОв.
  </div>
  <div id="c++_text" class='info'>information about C++</div>
  <p><button class = 'design_button' onclick="clickAction('c++')">Показать больше</button></p>
</div>

  
<div class ='design_card'>
  <div class = 'design_leng'>
    <b>PHP (В простонародии пыха)</b>
  </div>
  <div>
  PHP – это широко используемый язык с открытым исходным кодом. Говоря проще, PHP это язык программирования, специально разработанный для написания web-приложений.
    <div id="php_text" class='info'>information about PHP</div>
    <p><button class = ' design_button' onclick="clickAction('php')">Показать больше</button></p>
  </div>
  
</div>
</div>
</div>
</div>
</div>

<a class = 'go_back' href="../index.html">Вернуться на главную</a>
  
<div class="footer">
  <div>Copyright &copy;2023 <strong>Programist'ы inc</strong>.All Rights Reserved.</div>
</div>
  
<script>
      function openMenu() {document.getElementById("sidebar").classList.toggle('active');}
    let isTrue = true
    
      function clickAction(id){
        let information = document.getElementById(id+'_text')
        if (isTrue){
          information.style['display'] = 'block'
          isTrue = false
        } 
        else{
          information.style['display'] = 'none'
          isTrue = true
        }
}
</script>

</body>
</html>