/* зачем это? "heatmap(wrapper, data, options={});"  ничего нигде не меняется ели убрать -Хотел сделать эффект теплоты*/

html, body {
    /* Убирает прокрутку по горизонтале, для мобильной версии */
    overflow-x: hidden;
}

canvas{
  position: absolute; 
  top: 0;
  left: 0;
  z-index: -1000;
}

#design_minimalism:hover{
  color: white;
  transition: 1s color;
}

#design_minimalism {
  color: black;
  font-size: 3em;
  font-family: "Montserrat";
  white-space: nowrap;
  display: flex;
  position: absolute;
  left: 41%;
  top: 42%;
  min-height: 1em;
  width: 1em;
  border: blue;
  background: 0; 
  transition: color 1s;
  animation-name: slow-show;
  animation-duration: 2s;
} 

@keyframes slow-show{
  0%{
    left: 41%;
    top: 70%;
    opacity: 0;
  }
  100%{
    left: 41%;
    top:42%;
    opacity: 1;
  }
}